include:
  - project: vagner.samm/common-pipeline
    ref: main
    file:
      - templates/common-variables.yml
      - templates/infra-pipelines/terraform-pipeline.yml
      - templates/security/terraform-tools.yml

variables: variables
  TF_ROOT: $CI_PROJECT_DIR/infra/
  GIT_USER_USERNAME: $GIT_USER_USERNAME
  TF_VAR_application_name: $CI_PROJECT_NAME
  TF_VAR_aws_region: $AWS_REGION
  TF_VAR_aws_deployment_role: $AWS_DEPLOYMENT_ROLE

.dev_variables: &dev_variables
  AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_DEV
  AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_DEV
  TF_VAR_environment: $ENVIRONMENT
  TF_VAR_aws_account_number: $AWS_ACCOUNT_ID_DEV

stages:
  - test
  - tf_plan
  - tf_deploy
  - tf_destroy

# tfsec:
#   extends: .tfsec
#   stage: test
#   only:
#     - merge_requests

# checkov:
#   extends: .checkov
#   stage: test
#   only:
#     - merge_requests

tflint:
  extends: .tflint
  stage: test
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

tf_plan:
  extends: .tf_plan
  variables:
    <<: *dev_variables
  stage: tf_plan
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

tf_deploy:
  extends: .tf_deploy
  variables:
    <<: *dev_variables
  stage: tf_deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual

tf_destroy:
  extends: .tf_destroy
  variables:
    <<: *dev_variables
  stage: tf_destroy
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual

# tag_version:
#   extends: .tag_version
#   stage: tag_version
#   rules:
#     - if: $CI_COMMIT_BRANCH == "main" && $GITLAB_USER_LOGIN == $GIT_USER_USERNAME

# .promote_dev:
#   extends: .promote_tf
#   stage: promote_dev
#   variables:
#     <<: *dev_variables
#   rules:
#     - if: $CI_COMMIT_BRANCH == "main" && $GITLAB_USER_LOGIN == $GIT_USER_USERNAME
