include:
  - project: vagner.samm/common-pipeline
    ref: main
    file:
      - templates/common-variables.yml
      - templates/infra-pipelines/terraform-pipeline.yml
      - templates/security/terraform-tools.yml

variables:
  TF_ROOT: $CI_PROJECT_DIR/infra/
  TF_VAR_application_name: $CI_PROJECT_NAME
  TF_VAR_environment: $CI_ENVIRONMENT_NAME
  TF_VAR_aws_region: $AWS_REGION

.dev_variables: &dev_variables
  AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_DEV
  AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_DEV

.test_variables: &test_variables
  AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_TEST
  AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_TEST

stages:
  - validate
  - dev
  - test
  - destroy

tflint:
  stage: validate
  extends: .tflint
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

tf_plan_dev:
  stage: dev
  extends: .tf_plan
  variables:
    <<: *dev_variables
  environment:
    name: develop
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

tf_deploy_dev:
  stage: dev
  extends: .tf_deploy
  variables:
    <<: *dev_variables
  environment:
    name: develop
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual

promote_test:
  stage: test
  extends: .promote_tf
  variables:
    <<: *test_variables
  environment:
    name: testing
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual

tf_destroy_dev:
  stage: destroy
  extends: .tf_destroy
  variables:
    <<: *dev_variables
  environment:
    name: develop
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual
    - when: never

tf_destroy_test:
  stage: destroy
  extends: .tf_destroy
  variables:
    <<: *test_variables
  environment:
    name: testing
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual
    - when: never