include:
  - project: vagner.samm/common-pipeline
    ref: main
    file:
      - templates/common-variables.yml
      - templates/infra-pipelines/terraform-pipeline.yml
      - templates/security/terraform-tools.yml

variables:
  TF_ROOT: $CI_PROJECT_DIR/infra/
  TF_VAR_application_name: $CI_PROJECT_NAME
  TF_VAR_aws_region: $AWS_REGION

.dev_variables: &dev_variables
  AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_DEV
  AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_DEV
  TF_VAR_environment: dev
  TF_VAR_aws_account_number: $AWS_ACCOUNT_ID_DEV

.test_variables: &test_variables
  AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID_TEST
  AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY_TEST
  TF_VAR_environment: test
  TF_VAR_aws_account_number: $AWS_ACCOUNT_ID_TEST

stages:
  - test
  - tf_plan_dev
  - tf_deploy_dev
  - tf_destroy_dev
  - promote_test
  - tf_destroy_test

# tfsec:
#   extends: .tfsec
#   stage: test
#   only:
#     - merge_requests

# checkov:
#   extends: .checkov
#   stage: test
#   only:
#     - merge_requests

tflint:
  extends: .tflint
  stage: test
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

tf_plan_dev:
  extends: .tf_plan
  variables:
    <<: *dev_variables
  stage: tf_plan_dev
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

tf_deploy_dev:
  extends: .tf_deploy
  variables:
    <<: *dev_variables
  stage: tf_deploy_dev
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual

tf_destroy_dev:
  extends: .tf_destroy
  variables:
    <<: *dev_variables
  stage: tf_destroy_dev
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual

.promote_test:
  extends: .promote_tf
  stage: promote_test
  variables:
    <<: *test_variables
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

.tf_destroy_test:
  extends: .tf_destroy
  variables:
    <<: *test_variables
  stage: tf_destroy_test
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: manual
